.courses{
    background-color: 	#FFF0F5;
}
.courses-details{

    padding: 100px;
}
.home-page{
    background-color: 	#FFF0F5;
}
.home-page-row{
    padding: 80px;
}
.page-not-found-div{
    background-color: 	#FFF0F5;
    margin: 60px;
}
.page-not-found{
   padding: 100px;
   
}
