.courses{
    background-color: 	#FFF0F5;
}
.courses-details{

    padding: 100px;
}
.home-page{
    background-color: 	#FFF0F5;
}
.home-page-row{
    padding: 80px;
}
.page-not-found-div{
    background-color: 	#FFF0F5;
    margin: 60px;
}
.page-not-found{
   padding: 100px;
   
}
.checkout-route{
    background-color: 	#FFF0F5;
}
.container-checkout{
    padding: 100px;
}
.footer-checkout{
    padding: 40px;
}
.checkout-text{
    padding: 60px;
}
.category-bg{
    background-color: 	#FFF0F5;
}
.category-detail{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-footer{
    padding: 60px;
}